.nav_img {
    width: 219px;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 92px;
    background-color: var(--secondary-color);
    top: 0;
}

.header {
    width: 100%;
}

.nav_ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

li {
    list-style-type: none;
}

.nav_ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

select {
    width: 60px;
    height: 30px;
}

.translate img {
    width: 21px;
    height: 15px;
}

.translate1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 30px;
    border: 2ps solid red;
    color: #ffffff;
}

.icon1 {
    font-size: 28px;
}

.icon2 {
    font-size: 24px;
    color: #ffffff;
}

.translate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.translate2 {
    display: none;
}

.ru {
    display: flex;
    align-items: center;
}

.uz {
    display: flex;
    align-items: center;
}

a:hover {
    border-bottom: 4px solid red;
    transition: .5s;
}

.translate1 p {
    font-size: 18px;
}

@media (max-width:450px) {
    nav {
        width: 100%;
    }

    .nav_img {
        width: 112px;
        height: 31px;
    }

    /* .nav_ul li {
        display: none;
    } */

    .nav_ul li a {
        font-size: 15px;
    }

    .nav {
        width: 80%;
    }

}