:root {
    --bg-color: #fff;
    --primary-color: #1E1E1E;
    --secondary-color: rgb(47, 161, 118);
    --text-color: yellow;
    --text-color-2: #2560EC;
    --text-color-3: #000;
    --overlay-color: rgb(12 12 12 / 63%);
}

[data-theme="dark"] {
    --bg-color: #1E1E1E;
    --primary-color: #1E1E1E;
    --secondary-color: #000;
    --text-color: #FFFFFF;
    --text-color-2: #fff;
    --text-color-3: #fff;
    --overlay-color: rgb(255 255 255 / 70%);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    overflow-y: visible;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    background-image: url(./images/background.jpg);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Marcellus;
}

a,
a:hover {
    color: var(--text-color);
}

p {
    word-break: break-word;
    hyphens: auto;
}


.text_2,
.text_2:hover {
    color: var(--text-color-2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cursor__dot div {
    z-index: 999999 !important;
}

.cursor__dot div:last-child {
    background-color: var(--text-color-3) !important;
}

.cursor__dot div:first-child {
    filter: invert(1);
    background-color: var(--overlay-color) !important;
}

.color_pr {
    color: var(--primary-color) !important;
}

.color_sec {
    color: var(--secondary-color);
}